body {
  margin: 0;
  padding: 0;
}
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
.logo {
  /* Oval 85: */
  background: #4387C5;
  border: 3px solid #4387C5;
  border-radius: 50%;
  font-size: 20px;
  float: left;
  display: inline;
  padding: 20px;
}
.content {
  margin: 20px auto;
  width: 60%;
}
.top-navigation {
  background-color: white;
  width: 100%;
  display: inline-block;
  position: fixed;
  margin: 0 auto;
}
.btn-seat-list {
    /* Rectangle 17: */
  background: #4387C5;
  border: 3px solid #4387C5;
  border-radius: 0 4px 4px 0;
  /* List your seat: */
  font-family: .HelveticaNeueDeskInterface-Regular;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 17px;
  height: 44px;
  width: 253px;
  position: relative;
  right: 1px;
  top: -1px;
}
.btn-seat-list:hover {
  background: blue;
  border: 3px solid blue;
  cursor: pointer;
}
.top-navigation .content ul li {
  display: inline-block;
  float: right;
}
.links {
  /*padding: 20px 0;*/
  margin: 0 auto;
}
nav .content > .links > li {
  /* Log In: */
  font-family: .HelveticaNeueDeskInterface-Regular;
  font-size: 18px;
  color: #4387C5;
  line-height: 17px;
}
nav .content > .links > li, nav .content > .links > button {
    padding: 10px;
    margin: 25px;
}
.top-navigation .content > .links > li:hover {
    color: blue;
    cursor: pointer;
}
.hero {
  background-image: url('../img/heroimage.png');
  background-repeat: no-repeat;
  /*background-position: 0 -32px;*/
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  height: 735px;
  display: block;
}
.hero-content {
  width: 50%;
  margin: 0 auto;
  padding: 300px 0;
}
.hero h1 {
  /* Find and book a salo: */
  font-family: .HelveticaNeueDeskInterface-Regular;
  font-size: 48px;
  color: #F1F1F1;
  line-height: 56px;
  text-align: center;

}
.hero h3 {
    /* Find seats on demand: */
  font-family: .HelveticaNeueDeskInterface-Regular;
  font-size: 19.84px;
  color: #FFFFFF;
  line-height: 23px;
  text-align: center;
  font-weight: 200;
}
.btn-location {
  width: 63%;
  margin: 0 auto;
  text-align: center;
}
.btn-text {
  /* Rectangle 17: */
  background: #FFFFFF;
  border: 3px solid #4387C5;
  /* City or Zip: */
  font-family: .HelveticaNeueDeskInterface-Regular;
  font-size: 16px;
  color: #A4BDD4;
  line-height: 17px;
  text-align: center;
  display: inline;
  margin: 0 auto;
  padding: 10px 30px;
}
.features, .grid {
  width: 100%;
}
.features .top-row div, features .second-row div {

}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
.top-row {
  float:left;
  display: block;
  width: 30%;
}
.second-row {
  float: left;
  display: block;
  width: 30%;
}
.features div h2 {
  text-transform: uppercase;
}
.features div h4 {
  color: #333333;
  font-weight: 200;
}
